name: main
on:
  push:
    branches: [main]
  schedule:
  - cron: '30 8 * * *'

jobs:
  build:
    name: main
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
    - run: pip install --require-hashes -r .github/workflows/requirements.txt # Bumped manually
    - run: git config --global user.name 'Github Actions'
    - run: git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
    - run: |
        pre-commit-mirror . \
          --skip-existing \
          --description="deptry is a command line tool to check for issues with dependencies in a Python project, such as unused or missing dependencies." \
          --language=python \
          --package-name=deptry \
          --always-run \
          --pass-filenames-false \
          --args=.
    - run: |
        git remote set-url origin https://x-access-token:$GH_TOKEN@github.com/$GITHUB_REPOSITORY
        git push origin HEAD:refs/heads/main --tags
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
